.slide {
  overflow: hidden !important;
}

.mediaContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  cursor: grab;
  background-color: var(--color-text-dark);
}

.mediaContainerSingle {
  cursor: auto;
}

.heroImage,
.heroVideo {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(35%);
}

.heroContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-text-light);
  z-index: 2;
  font-family: var(--font-family-primary);

  span {
    color: var(--color-text-light);
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
  }

  h1 {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin: 50px 0 40px 0;

    @media (min-width: 1920px) {
      font-size: 85px;
    }

    @media (max-width: 768px) {
      font-size: 45px;
    }
  }

  .pulseButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    font-weight: 800;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: normal !important;
    background: transparent;
    color: var(--color-text-light) !important;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      pointer-events: none;
      opacity: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      animation: pulse 3.2s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      pointer-events: none;
      opacity: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      animation: pulse 3.2s linear infinite;
      animation-delay: 1.6s;
    }
  }
}

.stars {
  margin: 2px;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.slideButtonLeft,
.slideButtonRight {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  border-radius: 50%;
  z-index: 5;
  background-color: transparent;
  border: 1px dashed var(--color-background-primary);
  cursor: pointer;
  transform: translateY(-50%);

  svg {
    color: var(--color-text-light) !important;
  }
}

.slideButtonLeft {
  left: 50px;

  @media (max-width: 900px) {
    top: unset;
    bottom: 0px;
    left: 20px;
  }
}

.slideButtonRight {
  right: 50px;

  @media (max-width: 900px) {
    top: unset;
    bottom: 0px;
    right: 20px;
  }
}

.scrollContainer {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: red;
  z-index: 1005;
  margin: 0;
  padding: 0;

  @media (max-width: 900px) {
    bottom: 70px;
  }
}

.scrollWrapper {
  position: absolute;
  width: 1px !important;
  height: 100%;
  left: -1px;
}

.scrollLine {
  display: block;
  width: 1px;
  height: 50px;
  background: none;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    top: 0;
    background-color: #fff;
    animation: scroll 2s ease-in-out infinite;
  }
}

@keyframes scroll {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  70% {
    height: 100%;
    transform: scaleY(0.5);
    transform-origin: bottom;
  }

  100% {
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.reservationHeroContainer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  cursor: default;

  @media (max-width: 1250px) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: unset;
    left: unset;
    transform: none;
    background-color: var(--color-background-secondary);
  }

  .separator {
    display: none;

    @media (max-width: 1250px) {
      display: block;
    }
  }
}
